.torsten-gallery {
    display: flex;
    flex-direction: column;

    .gallery-area {
        max-height: 100%
        display: flex
        flex: 2   
        .gallery-list {
            flex: 2 2 auto
            min-width: 200px
            order: 1
        }
        .gallery-info {
            flex: initial
            width: 400px;
            min-width: 200px
            order: 2
        } 
    }
    
    .upload-progress-container {
        height: 2px
        width: 100%;    
        .upload-progress {
            transition 0.6s all ease-in-out
            height: 100%
            background-color: red
            width: 0%
        }
        margin-bottom: 10px
    }
    
    .gallery-toolbar {
        height: 50px   
    }
}

.gallery-modal {
    
    
    @media only screen and (max-device-width:480px){
        min-width: 100% !important
        height: 100% !important
    }

    .views-modal-content {
        padding: 10px
        
        
    }
    .torsten-gallery {
        font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
        //height: 100%
        .gallery-list {
            min-width: 70%
        }

        .gallery-info {
            min-width: 30%
        } 
    }
}

// THEME
.gallery-modal {
    
    .views-modal-dialog {
        width: 80% !important;
    }
    
    .views-modal-content {
        background-color: #fff
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
        
    }
    .torsten-gallery {
        font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
        height: 500px;
        .gallery-list {
            min-width: 70%
        }

        .gallery-info {
            min-width: 30%

            .file-info  {
                font-size: 80%
                .preview-region {
                    .preview {
                        img, video, audio {
                            max-width 100%
                            max-height 100%
                            box-shadow 1px 1px 2px 0px rgba(0,0,0,0.5)
                        }
                    }
                }
                
                .info-region {
                    border-top 1px solid #eee
                    .info {
                        td:first-child {
                            font-weight bold
                            vertical-align baseline
                            width 35%
                            margin-left: 5px
                        }

                        td:last-child {
                            word-wrap break-word
                        }
                        .download {
                            color: text-highlight
                            cursor: pointer
                        }
                    }
                }             
            }    

        } 
    }

    
}