
.views-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    
    box-sizing border-box
    transform: translateX(-50%) translateY(-20%);
    top: 20%;
    left: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    @media (min-width: 768px) {
        width: 600px;
    }
    
    .views-modal-content {
        background: #fff
        position:relative
        margin: 0
        
        
        
        .views-modal-body {
            
            
        
        }
        .views-modal-header {
            background: #fff;
        }

        .views-modal-footer {
       
            padding: 15px
            text-align:right
            button {
                margin-left: 5px;
            }
        }
        
    }

}

/*.views-modal-show ~ .views-modal-overlay {
    opacity: 1;
    visibility: visible;
}*/
.views-modal-open .views-modal-overlay {
    opacity: 1;
    visibility: visible;
}


.views-modal-show {
    visibility: visible;
}

.views-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.views-modal.scale .views-modal-content {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s;
}

.views-modal-show.scale .views-modal-content {
    transform: scale(1);
    opacity: 1;
}


.views-modal.slidein-bottom .views-modal-content {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.views-modal-show.slidein-bottom .views-modal-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}